<section id="MainView">
    <section id="Menu">
        <div class="row fluid">
            <div class="col-sm-2 sidebar">
                <ul class="list-unstyled">
                    <li>Administration</li>
                    <li>
                        <ul class="list">
                            <li><a href="#/main/teamsManager">Manage Teams</a></li>
                            <li><a href="#">Create Template</a></li>
                        </ul>
                    </li>
                    <li> Reporting</li>
                    <li>
                        <ul class="list">
                            <li><a href="#">Manage Teams</a></li>
                            <li><a href="#">Create Template</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section id="Content">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div ui-view></div>
            </div>
        </div>
    </section>
</section>