<div class="container container-fluid">
	<div class="row">
		<div class="col-sm-3  sidebar">
			<ul class="list-unstyled">
				<li>Administration</li>
				<li>
					<ul class="list">
						<li><a ui-sref="teams">Manage Teams</a></li>
						<li><a href="#">Create Template</a></li>
					</ul>
				</li>
				<li> Reporting</li>
				<li>
					<ul class="list">
						<li><a href="#">Manage Teams</a></li>
						<li><a href="#">Create Template</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col-sm-8">
			<div ui-view="list"></div>
			<div ui-view="edit_team"></div>
		</div>
	</div>
</div>