<!--<div ng-if="showTeams" ng-controller="teamsManagerController">
    <div ng-if="!showTeams" ng-bind="message"></div>-->
<section>
    <div id='title'>
        <div class="col-sm-10">
            <h2> Manage Templates </h2>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-flat">Add Template</a>
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <colgroup>
            <col width="5%" />
            <col width="70%" />
            <col width="25%" />
        </colgroup>
        <thead id='manage-teams-head'>
            <tr>
                <th>#</th>
                <th>Template</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr class="clickable-row" ng-repeat="template in templates" >
                <td ng-bind="$index + 1"></td>
                <td ng-bind="template.Name"></td>
             <!--   <td>
                    <a class="glyph-link" ui-sref="mainView.templatesManager.editTemlate({id:template.Id})"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a>
                    <a class="glyph-link" ng-click="deleteTemplate(template.Id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a>
                </td> -->
            </tr>
        </tbody>
    </table>
</section>