<section class="row" ng-controller="templatesManagerController">
    <div class="col-sm-8 teamsList" ui-view="templatesList"></div>
    <div class="col-sm-8" ui-view>
        <div>
            <table class="table table-striped">
                <colgroup>
                    <col width="5%" />
                    <col width="45%" />
                    <col width="45%" />
                </colgroup>
              <!-- <thead id="change-team-head">
                    <tr>
                        <th>#</th>
                        <th>User Name</th>
                        <th>Full Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='member in activeTeam.members'>
                        <td> {{$index + 1}}</td>
                        <td> {{member.userName}}</td>
                        <td> {{member.fullName}}</td>
                    </tr>
                <tbody>  -->
            </table>
        </div>
    </div>
</section>