<section id="templatesEdit" class="row">
    <div class="col-sm-8">
        <script type="text/ng-template" id="Modal.html">
            <div class="modal-body">
                {{message}}
            </div>
        </script>
        <form>
            <input class='form-control'
                   id="change-template-name"
                   ng-model="tempTemplate.templateName"
                   placeholder="Enter a Template name..."
                   autofocus>
            <container>
                <div class="row" ng-repeat="field in tempTemplate.fields | orderBy:'fieldID'">

                    <span class="col-md-6">
                        <md-checkbox md-no-ink="false"
                                     ng-model="field.isSelected"
                                     aria-label="field.fieldName"
                                     class="md-primary">
                            {{field.fieldName}}
                        </md-checkbox>
                    </span>

                    <!--TEXT INPUT-->
                    <span class="col-md-6">
                        <input class="form-control"
                               type="text"
                               ng-if="field.fieldType === 'Text'"
                               ng-model="field.fieldDefaultValue"
                               ng-disabled="!field.isSelected" />
                    </span>

                    <!--COMBOBOX-->
                    <div class="btn-group col-md-6"
                         uib-dropdown
                         ng-if="field.fieldType === 'ComboBox'"
                         ng-disabled="!field.isSelected">
                        <input type="text" ng-model="field.fieldDefaultValue"
                               placeholder="{{'Enter a ' + field.fieldName + '...'}}"
                               uib-typeahead="JiraUser.fullName for JiraUser in getJiraUsers($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults" class="form-control"
                               typeahead-wait-ms="1500"
                               typeahead-min-length="2"
                               ng-disabled="field.isSelected === false">
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>

                    <!--LABLE-->
                    <span class="btn-group col-md-6" ng-if="field.fieldType === 'ListBox'">
                        <input type="text" class="form-control readonly-input"
                               ng-disabled="field.isSelected === false"
                               value="Will be configured during Report generation"
                               readonly>
                    </span>
                </div>
            </container>

            <container class="btn-group row center-in-div">
                <div class="col-sm-6">
                    <button id="btn-save"
                            type="submit"
                            class="btn btn-flat"
                            ng-click='save()'>
                        Save
                    </button>
                </div>
                <div class="col-sm-6">
                    <button id="btn-cancel"
                            ui-sref="mainView.templatesManager.templatesList"
                            class="btn btn-flat"
                            ng-click='cancel()'
                            type="reset">
                        Cancel
                    </button>
                </div>
            </container>
        </form>
    </div>
</section>
