

<section id="reportDraft" class="row row-standart row-margin-top">
    <div class="col-sm-12 panel panel-info">
        <div class="panel-heading">
            <h4>
                <strong>Weekly report by {{ selectedTeam.teamName }}</strong>
            </h4> 

             <div id="progressIndicator">
                <md-progress-circular md-mode="indeterminate"
                    md-diameter="80"
                    ng-show="requestProcessing">
                </md-progress-circular>
            </div>
        </div>

        <div class="panel-body">
            <div>
               templateName :  {{ selectedTemplate.templateName}} 
                <br />
               <!--
                   templateId :  {{ selectedTemplate.templateId}} 
                <br />

               <p id="P0">{{ fields[0].fieldName }} &nbsp; &nbsp;{{ fields[0].fieldDefaultValue }}</p>
               <p id="P1">{{ fields[1].fieldName }} &nbsp; &nbsp;{{ fields[1].fieldDefaultValue }}</p>
                -->                
            
               <p id="P2">{{ fields[2].fieldName }} &nbsp; &nbsp;{{ fields[2].fieldDefaultValue }} </p>
                <div>
                    <textarea class="form-control resizable" rows="3"></textarea>
                </div> 
                    <!--Fname :  {{ selectedTemplate.fields[0].fieldName }} -->
             </div>
        </div>

        <!-- selectedTeam members check -->
        <!--
         <div class="row" ng-repeat="member in selectedTeam.members | orderBy:'fullName' ">
                    <span class="col-md-3">
                        {{member.userName}} {{member.fullName}} <br />          
                    </span>
           </div>
        -->
         <!-- selectedTeam members check -->

        <!-- tempReport.template fields check -->
        <!--
        <form>
            <container>
                {{tempReport.template.templateId}}      <br />           
                {{tempReport.template.templateName}}      <br />    
                <div class="row" ng-repeat="field in tempReport.template.fields | orderBy:'fieldID'">
                    <span class="col-md-3">
                        {{field.fieldName}} {{field.fieldDefaultValue}}    <br />          
                    </span>
                </div>
            </container>
        </form>
        -->
         <!-- tempReport.template fields check -->  

        <!-- Activity form header v.1 -->
<!--
        <form class="form-inline">
             <div class="form-group col-md-4 draft-header">
                <label for="col1">Team Member</label>
             </div>
            <div class="form-group col-md-4 draft-header">
                <label for="col2">Role</label>
             </div>
            <div class="form-group col-md-4 draft-header">
                <label for="col3">Activity</label>
             </div>
        </form>
-->
        <!-- Activity form header v.1 -->

         <!-- Activity form header v.2 - works -->
<!--       
         <form class="form-horizontal" role="form">
            <div class="row">

                <div class="col-xs-4">
                    <div class="form-group draft-header">
                         <label>Team Member</label>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="form-group draft-header">
                         <label>Role</label>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="form-group draft-header">
                         <label>Activity</label>
                    </div>
                </div>

                 <div class="col-xs-1">
                   <div class="form-group draft-header">
                         <label>&nbsp;</label>
                    </div>
                </div>

            </div>
       </form>
-->
        <!-- Activity form header v.2 - works -->
        

          <!-- Activity form body v.2 - works -->
<!--
         <form class="form-horizontal" role="form">

            <div class="row row2" ng-repeat="member in selectedTeam.members | orderBy:'fullName' ">

                <div class="col-xs-4">
                    <div class="form-group draft-row">
                        <label>{{member.fullName}}</label>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="form-group draft-row">
                          <input type="text" class="form-control" id="role" placeholder="Enter role...">
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="form-group draft-row">
                         <label>2h</label>
                    </div>
                </div>

                <div class="col-xs-1">
                    <div class="form-group draft-row">
                            <a class="glyph-link" ng-click="removeMember(member.userName)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                    </div>
                </div>

            </div>
       </form>
-->
         <!-- Activity form body v.2 - works -->

        <!-- table for all members -->
        <div>
            <table class="table table-striped">
            <colgroup>
                <col width="40%" />
                <col width="35%" />
                <col width="20%" />
                <col width="5%" />
            </colgroup>

            <!--<thead id="change-team-head">-->
            <thead class="thead1">
                <tr>
                    <th>Team Member</th>
                    <th>Role</th>
                    <th>Activity</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

              <tbody>
                  <!-- <tr ng-repeat="member in selectedTeam.members | orderBy:'fullName' "> -->
                  <tr ng-repeat="member in reportedMembers | orderBy:'fullName' ">
                       <!--<td>{{$index + 1}}</td>-->
                       <td>{{member.fullName}}</td>
                        <td>
                            <input type="text" class="form-control" id="Text1" placeholder="Enter role...">
                        </td>
                        <!--<td>{{member.userName}}</td>-->
                         <td>
                             <label>{{member.activity}}</label>
                              <!--<label>{{getUserActivity(member.userName, tempReport.from, tempReport.to)}}</label>-->
                        </td>
                        <td>
                            <a class="glyph-link" ng-click="removeMember(member.userName)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
               </tbody>
            </table>
        </div>
        <br />
         <!-- Reported groups with members --------------------------------------------- -->
        <div class="panel-body">
           <div ng-repeat="group in reportedGroups | orderBy:'groupName' " class="row">
                <div class="col-xs-8 col-sm-4 col-sm-offset-5 group-name">
                            <strong> {{group.groupName | uppercase}} </strong>
                </div>

                <div>
                    <table class="table table-striped">
                    <colgroup>
                        <col width="40%" />
                        <col width="30%" />
                        <col width="30%" />
                    </colgroup>

                    <tbody>
                          <!-- <tr ng-repeat="member in selectedTeam.members | orderBy:'fullName' "> -->
                          <tr ng-repeat="member in group.members | orderBy:'fullName' ">
                               <!--<td>{{$index + 1}}</td>-->
                               <td>{{member.fullName}}</td>
                                <td>
                                    <input type="text" class="form-control" ng-model="member.role" value="{{member.role}}"  placeholder="Enter role...">
                                </td>
                                <!--<td>{{member.userName}}</td>-->
                                 <td>
                                     <label>{{member.activity}}</label>
                                </td>
                            </tr>
                       </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Reported groups with members --------------------------------------------- -->
        <br />

        <!-- Add Group button ----------------------------------------------------------------- -->
         <div class="row">
            <div class="col-xs-3 center">
                  <a class="btn btn-flat" ng-click="addGroupPanel=true">Add Group</a>
                        <!--ui-sref="mainView.teamsManager.createTeam"-->
            </div>
         </div>
         <!-- Add Group button ----------------------------------------------------------------- -->
       
         <!-- groupName + 2 glyphs----------------------------------------------------------- -->
        <div class="row " ng-if="addGroupPanel == true">
            <div class="col-xs-8 col-sm-6 col-sm-offset-2">
                 <input class='form-control' id="groupName" ng-model="editGroup.groupName" placeholder="Enter group name..." >  <!-- autofocus -->
            </div>
             <div class="col-xs-1">
                <!--<button id="btn-save" class="btn btn-default" ng-click='save()'>Save</button>-->
                 <a class="glyph-link" ng-click='save()'>
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </a>
              </div>

            <div class="col-xs-1">
                <!--<button id="btn-cancel" class="btn btn-default" ng-click='cancel()'>Cancel</button>-->
                 <a class="glyph-link" ng-click='cancel()'>
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
            </div>
         </div>
         <!-- groupName + 2 glyphs----------------------------------------------------------- -->

        <!-- editGroup table -------------------------------------------------------------------- -->
        <table class="table table-striped" ng-if="addGroupPanel==true">
            <colgroup>
                <col width="40%" />
                <col width="35%" />
                <col width="20%" />
                <col width="5%" />
            </colgroup>
            <tbody>
                  <!-- <tr ng-repeat="member in selectedTeam.members | orderBy:'fullName' "> -->
                  <tr ng-repeat="member in editGroup.members | orderBy:'fullName' ">
                       <!--<td>{{$index + 1}}</td>-->
                       <td>{{member.fullName}}</td>
                        <td>
                            <input type="text" class="form-control" ng-model="member.role" value="{{member.role}}" placeholder="Enter role...">
                        </td>
                        <!--<td>{{member.userName}}</td>-->
                         <td>
                             <label>{{member.activity}}</label>
                        </td>
                        <td>
                            <a class="glyph-link" ng-click="removeMember(member.userName)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
               </tbody>
            </table>
         <!-- editGroup table -------------------------------------------------------------------- -->
            
        <br />
        <!-- adding a member to the group ------------------------------------------------- -->
        <div ng-if="addGroupPanel==true">
            <table class="table table-striped">
                 <colgroup>
                    <col width="40%" />
                    <col width="35%" />
                    <col width="20%" />
                    <col width="5%" />
                  </colgroup>
                 <tbody>
                    <tr>
                    <td>
                       <!-- <select class="form-control select-username"
                            ng-model="selectedMember"
                            ng-options="member.fullName for member in selectedTeam.members"
                            name="memberSelection">-->
                          <select class="form-control select-username"
                            ng-model="selectedMember" placeholder="Select a member"
                            ng-options="member.fullName for member in reportedMembers"
                            name="memberSelection">
                        </select>
                    </td>
                    <td>
                            <input type="text" class="form-control" ng-model="selectedMember.role" placeholder="Enter role...">
                    </td>
                    <td>
                        <a class="glyph-link"
                            ng-click="addMember(selectedMember)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- adding a member to the group ------------------------------------------------- -->
<!--
        <form class="form-inline">
             <div class="form-group col-md-4">
                <label for="tMember">{{member.Name}}</label>
              </div>
              <div class="form-group col-md-4">
                <input type="text" class="form-control" id="role" placeholder="Enter role...">
              </div>
              <div class="form-group col-md-4">
                <label for="activity">{{member.activity}}</label>
              </div>
        </form>
-->

        <p>...</p> 

        <!--  ------------ List of Issues form v.0 - headers ---------------------------------  -->
<!--
         <form class="form-inline"> 
        
            <div class="form-group col-md-2 draft-header">
                <label for="col11">ID</label>
             </div>

             <div class="form-group col-md-6 draft-header">
                <label for="col12">Summary</label>
             </div>

            <div class="form-group col-md-2 draft-header">
                <label for="col13">Status</label>
             </div>

            <div class="form-group col-md-2 draft-header">
                <label for="col14">Logged time</label>
             </div>

        </form>
-->
        <!--  ------------ List of Issues form v.0 - headers ---------------------------------  -->
        
        <!--  ------------ List of Issues form v.1 - headers - works ----------------------  -->
<!--
        <form class="form-horizontal" role="form">
            <div class="row">

                <div class="col-xs-2">
                    <div class="form-group draft-header">
                         <label class="text-center"><strong>ID</strong></label>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group draft-header">
                         <label class="text-center">Summary</label>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="form-group draft-header">
                         <label class="text-center">Status</label>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="form-group draft-header">
                         <label class="text-center"><small>Logged time</small></label>
                    </div>
                </div>

            </div>
       </form>
-->
        <!--  ------------ List of Issues form v.1 - headers - works ----------------------  -->

         <!--  ------------ List of Issues form v.1 - body - works ----------------------  -->
<!--
        <form class="form-horizontal" role="form">
            <div class="row row2">

                <div class="col-xs-2">
                    <div class="form-group draft-row">
                         <label>id</label>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group draft-row">
                         <label>summary</label>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="form-group draft-row">
                         <label class="text-center">status</label>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="form-group draft-row">
                         <label class="text-center"><small>Logged time</small></label>
                    </div>
                </div>

            </div>
       </form>
-->
         <!--  ------------ List of Issues form v.1 - body - works ----------------------  -->

        <!--  ------------ List of Issues table v.2 -  works -------------------------------  -->
         <div ng-repeat="group in reportedGroups | orderBy:'groupName' " class="row">
            <div class="col-xs-10 col-sm-offset-1">
                     <span class="pheader"><em><strong> {{group.groupName | uppercase}}  </strong> </em> </span> {{groupMemberList(group)}} 
                </div>

            <div class="panel-body">
                <div>
                    <textarea class="form-control resizable" rows="3"></textarea>
                </div> 
             </div>
        
            <div class="panel-body">
            <table class="table table-striped">
                <colgroup>
                    <col width="15%" />
                    <col width="55%" />
                    <col width="15%" />
                    <col width="15%" />
                </colgroup>

               <thead class="thead1">
                    <tr>
                        <th class ="thead1-th">ID</th>
                        <th class ="thead1-th">Summary</th>
                        <th class ="thead1-th">Status</th>
                        <th class ="thead1-th">Logged time</th>
                    </tr>
                </thead>

                <div>
                    <table class="table table-striped">
                    <colgroup>
                        <col width="40%" />
                        <col width="30%" />
                        <col width="30%" />
                    </colgroup>

                    <tbody>
                          <!-- <tr ng-repeat="member in selectedTeam.members | orderBy:'fullName' "> -->
                          <tr ng-repeat="member in group.members | orderBy:'fullName' ">
                               <!--<td>{{$index + 1}}</td>-->
                               <td>{{member.fullName}}</td>
                                <td>
                                    <input type="text" class="form-control" ng-model="member.role" value="{{member.role}}"  placeholder="Enter role...">
                                </td>
                                <!--<td>{{member.userName}}</td>-->
                                 <td>
                                     <label>{{member.activity}}</label>
                                </td>
                            </tr>
                       </tbody>
                    </table>
                </div>
        </div>

        </div>
         <!--  ------------ List of Issues table v.2 - works ------------------------------------  -->
        <br />
<!--
        <form class="form-inline">
            <div class="form-group col-md-2">
                <label for="id">issue.id</label>
             </div>
             <div class="form-group col-md-6">
                <label for="summary">issue.summary</label>
             </div>
            <div class="form-group col-md-2">
                <label for="status">issue.status</label>
             </div>
            <div class="form-group col-md-2">
                <label for="loggedTime">issue.loggedTime</label>
             </div>
        </form>
-->
        <!-- Risks and Issues ---------------------------------------------------------------------- -->
         <div class="panel-body">
            <div>
               <!--<p id="P14" class="pheader">{{ fields[3].fieldName }} &nbsp; &nbsp;{{ fields[3].fieldDefaultValue }} </p>-->
                <p id="P14" class="pheader">Risks and Issues </p>
                <div>
                    <textarea class="form-control resizable" rows="3"></textarea>
                </div> 
             </div>
        </div>
        <!-- Risks and Issues ---------------------------------------------------------------------- -->

         <!-- Planned Activities -------------------------------------------------------------------- -->
        <div class="panel-body">
            <div>
               <!--<p id="P15" class="pheader">{{ fields[4].fieldName }} &nbsp; &nbsp;{{ fields[4].fieldDefaultValue }} </p>-->
                <p id="P15" class="pheader">Planned Activities </p>
                <div>
                    <textarea class="form-control resizable" rows="3"></textarea>
                </div> 
             </div>
        </div>
         <!-- Planned Activities -------------------------------------------------------------------- -->

         <!--            form for Planned Vacations  - header    -->
        <div class="panel-body">
            <div>
               <!--<p id="P16" class="pheader">{{ fields[5].fieldName }} &nbsp; &nbsp;{{ fields[5].fieldDefaultValue }} </p>-->
                <p id="P16" class="pheader">Planned Vacations</p>
             </div>
        </div>

         <form class="form-horizontal" role="form">
            <div class="row">

                <div class="col-xs-5">
                    <div class="form-group draft-header">
                         <label>Team Member</label>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="form-group draft-header">
                         <label>From</label>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="form-group draft-header">
                         <label>To</label>
                    </div>
                </div>

                <div class="col-xs-1">
                   <div class="form-group draft-header">
                         <label>.</label>
                    </div>
                </div>

            </div>
       </form>

         <!--            form for Planned Vacations  - body        -->
         <form class="form-horizontal" role="form">
            <div class="row row2">

                <div class="col-xs-5">
                    <div class="form-group draft-row">
                         <label>member.Name</label>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="form-group draft-row">
                          <input type="date" class="form-control" id="fromDate" placeholder="From date...">
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="form-group draft-row">
                          <input type="date" class="form-control" id="toDate" placeholder="To date...">
                    </div>
                </div>

                 <div class="col-xs-1">
                    <div class="form-group draft-row">
                        <button type="button" class="btn btn-link">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>

            </div>
       </form>


    </div>
</section>
