<section id="reportsConditions">

    <script type="text/ng-template" id="modalContentValidation.html">
        <div class="modal-body" style="text-align:center; height:80px;">
            Please check, if all data was inputted correctly
        </div>
    </script>

    <div class="col-sm-5">
        <div class="row row-standart row-margin-top">
            <div class="form-group">
                <label style="color: #161c66" class="col-sm-3">Type report</label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" value="team" ng-model="content"> by team
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" value="member" ng-model="content"> by member
                </label>
            </div>
        </div>
        <div class="row row-standart row-margin-top-little">
            <div ng-show="content == 'team'">
                <label style="color: #161c66; padding-top: 5px;" class="col-sm-12">Team</label>
                <div class="col-sm-8">
                    <select class="form-control select-username"
                            ng-model="selectedTeam"
                            ng-options="team.teamName for team in teams"
                            name="teamSelection"></select>
                </div>
            </div>
            <div ng-show="content == 'member'">
                <div class="col-sm-11" style="padding-top: 5px;">
                    <table class="table table-striped">
                        <colgroup>
                            <col width="5%" />
                            <col width="45%" />
                            <col width="45%" />
                            <col width="5%" />
                        </colgroup>
                        <thead id="change-team-head">
                            <tr>
                                <th>#</th>
                                <th>User Name</th>
                                <th>Full Name</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='member in members | orderBy: member.userName'>
                                <td>{{$index + 1}}</td>
                                <td>{{member.userName}}</td>
                                <td>{{member.fullName}}</td>
                                <td>
                                    <a class="glyph-link" ng-click="removeMember(member.userName)">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <select class="form-control select-username"
                                            ng-model="selectedMember"
                                            ng-options="jiraUser.userName for jiraUser in jiraUsers"
                                            name="memberSelection"></select>
                                </td>
                                <td>
                                    <select class="form-control select-username"
                                            ng-model="selectedMember"
                                            ng-options="jiraUser.fullName for jiraUser in jiraUsers"
                                            name="memberSelection"></select>
                                </td>
                                <td>
                                    <a class="glyph-link"
                                       ng-click="addMember(selectedMember)">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row row-standart row-margin-top-little">
            <div>
                <div class="form-group">
                    <label style="color: #161c66; padding-top: 5px;" class="col-sm-12">Template</label>
                    <div class="col-sm-8">
                        <select class="form-control select-username"
                                ng-model="selectedTemplate"
                                ng-options="template.templateName for template in templates track by template.templateId"
                                name="templateSelection"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-standart row-margin-top">
            <div class="form-group">
                <label style="color: #161c66" class="col-sm-12">Time period</label>
                <div class="row row-standart row-margin-top-middle">
                    <label style="color: #161c66; padding-top: 5px; " class="col-sm-1 col-sm-offset-1 row-margin-top">From</label>
                    <div class="input-group col-sm-5 col-sm-offset-3">
                        <input type="text" class="form-control row-margin-top" uib-datepicker-popup="dd/MM/yyyy" ng-model="fromDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default row-margin-top" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="row row-standart row-margin-top">
                    <label style="color: #161c66; padding-top: 5px;" class="col-sm-1 col-sm-offset-1 row-margin-top">To</label>
                    <p class="input-group col-sm-5 col-sm-offset-3">
                        <input type="text" class="form-control row-margin-top" uib-datepicker-popup="dd/MM/yyyy" ng-model="toDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default row-margin-top" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row row-standart row-margin-top">
            <a ng-click="saveIntoClientStorage()" class="btn btn-flat col-sm-5 col-sm-offset-1">
                Generate
            </a>
            <a ng-click="export()" class="btn btn-flat col-sm-5 col-sm-offset-1">
                Export
            </a>
        </div>
    </div>

    <container id="details">
        <div class="col-sm-7" ui-view></div>
    </container>

</section>