<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Content/img/logo.png">

    <title>Reporting Tool</title>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    @*<link href="~/Content/css/bootstrap-theme.min.css" rel="stylesheet">*@
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/angular-material.min.css" rel="stylesheet" />
    <link href="~/Content/css/select.min.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet">

</head>

<body ng-app="ReportingTool">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid nav-container">
            <div class="navbar-header brand">
                <a class="navbar-brand" ui-sref="mainView">
                    <p class="blue">Reporting</p>
                    <p class="white">Tool</p>
                </a>
            </div>
            <div class="navbar-header logout" ng-controller="logoutController" ng-show="showLogout.show">
                <a class="navbar-brand"
                   ng-click="Logout();" ui-sref="configView">
                    <p class="white">Logout</p>
                </a>
            </div>
        </div>
    </nav>


    @RenderBody()

    <script src="~/Content/js/vendor/angular.js"></script>
    <script src="~/Content/js/vendor/angular-material.min.js"></script>
    <script src="~/Content/js/vendor/angular-messages.js"></script>
    <script src="~/Content/js/vendor/angular-ui-router.min.js"></script>
    <script src="~/Content/js/vendor/angular-aria.min.js"></script>
    <script src="~/Content/js/vendor/angular-animate.min.js"></script>
    <script src="~/Content/js/vendor/ui-bootstrap-tpls-1.2.1.min.js"></script>
    <script src="~/Content/js/vendor/select.min.js"></script>
    <script src="~/Content/js/vendor/angular-sanitize.min.js"></script>

    @*ReportingTool app modules*@
    <script src="~/Content/js/configuration/configViewModule.js"></script>
    <script src="~/Content/js/login/loginModule.js"></script>
    <script src="~/Content/js/teamsManager/teamsManagerModule.js"></script>
    <script src="~/Content/js/templatesManager/templatesManagerModule.js"></script>
    <script src="~/Content/js/mainViewModule.js"></script>
    <script src="~/Content/js/ReportingTool.js"></script>

    @*ReportingTool app controllers/services/directives*@
    <script src="~/Content/js/templatesManager/templatesManagerController.js"></script>
    <script src="~/Content/js/templatesManager/templatesManagerServices.js"></script>
    <script src="~/Content/js/templatesManager/datepicker.js"></script>
    <script src="~/Content/js/templatesManager/templatesManagerFilters.js"></script>
    <script src="~/Content/js/teamsManager/teamsManagerControllers.js"></script>
    <script src="~/Content/js/teamsManager/teamsManagerServices.js"></script>
    <script src="~/Content/js/configuration/configurationController.js"></script>
    <script src="~/Content/js/configuration/projectNameDirective.js"></script>
    <script src="~/Content/js/login/loginController.js"></script>
    <script src="~/Content/js/login/logoutController.js"></script>
    <script src="~/Content/js/login/loginService.js"></script>

</body>

</html>