<!DOCTYPE html>
<html ng-app="LoginModule"
      ng-cloak
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/css/loginView.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/angular-material.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-messages.js"></script>
    <script src="~/Scripts/angular-material.min.js"></script>
    <script src="~/Scripts/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script> 
    <script src="~/Content/js/configView/loginModule.js"></script>

</head>
<body ng-controller="loginController">      
    @RenderBody()
</body>
</html>
