@{
    ViewBag.Title = "MyPartialView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ExportToPdf", "Reports", FormMethod.Post))
{
    <section ng-app="exportReportModule" ng-controller="exportReportController">
    <div class="row">
        <div class="col-sm-9 center">
            <div style="page-break-after: always; color:#01bee2; margin-top:50px;">
                <ul style="color:#01bee2;">
                    <li><h1>Template name</h1></li>
                    <li><h1>Date</h1></li>
                    <li><h1>Receiver</h1></li>
                    <li><h1>Contact Person</h1></li>
                </ul>
            </div>
            <br />
            <br />
            <br />
           <br/>
            <div>
                <div class="panel-body" ng-init="fid1=1" >
                    <div class="floating-box">
                        <!--<span class="pheader">{{ tempReport.fields[fid1-1].fieldName }} &nbsp;&nbsp;:&nbsp;&nbsp;</span>-->
                        <span class="pheader">Reporter &nbsp;&nbsp;:&nbsp;&nbsp;</span>
                    </div>
                    <div class="floating-box">
                        <!--<span>{{ tempReport.fields[fid1-1].fieldDefaultValue }}</span>-->
                        <!-- <span>{{ getSingleField(fid1).fieldDefaultValue }}</span>-->
                        <input type="text" class="form-control"  value="Oleksanr">
                    </div>
                </div>
                <!--  --- Reporter ------------------------------------------- end ---------------------------- -->
                <!--  --- Receiver ------------------------------------------- begin ------------------------- -->
                <div class="panel-body" ng-init="fid2=2" >
                    <div class="floating-box">
                        <span class="pheader">Receiver &nbsp;&nbsp;:&nbsp;&nbsp;</span>
                    </div>
                    <div class="floating-box">
                        <!--<span>{{ getSingleField(fid2).fieldDefaultValue }}</span>-->
                        <input type="text" class="form-control" value="Oleksandr">
                    </div>
                </div>
                <!--  --- Receiver ------------------------------------------- end ---------------------------- -->
                <!--  --- Usual Tasks --------------------------------------- begin -------------------------- -->
                <div class="panel-body" ng-init="fid3=3" >
                    <div>
                        <p class="pheader">Usual Tasks</p>
                        <div>
                            <textarea class="form-control resizable resize-vert" rows="2">Usual task 1</textarea>
                        </div>
                    </div>
                </div>
                <!--  --- Usual Tasks --------------------------------------- end ----------------------------- -->
            </div>

                <div class="col-sm-6">
                    <button type="submit" class="btn btn-flat"style="position: fixed; top: 10px; right: 100px;">Save to PDF</button>
                </div>
        </div>
    </div>
        <div class="panel-body" >
            <div>
                <p class="pheader">User Activity </p>
            </div>

            <!-- PM Activity record --------------------------------------- begin ----------------- -->
            <div>
                <table class="table table-striped tbottom">
                    <colgroup>
                        <col width="40%" />
                        <col width="35%" />
                        <col width="20%" />
                        <col width="5%" />
                    </colgroup>

                    <thead class="thead1">
                        <tr>
                            <th>Team Member</th>
                            <th>Role</th>
                            <th>Activity</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!--  ---  Project Manager row--------------------------- begin ---------------- -->
                        <tr>
                            <td>
                                <!-- <span>{{ getSingleField(fid1).fieldDefaultValue }}</span>-->
                                <form name="addPm">
                                    <select class="form-control select-username"
                                            ng-model="selectedPm"
                                            ng-options="jiraUser.fullName for jiraUser in jiraUsers"
                                            name="pmSelection"></select>
                                </form>
                            </td>
                            <td>
                                <input type="text" class="form-control" placeholder="Enter role..." value="Project Manager">
                            </td>
                            <td>
                                <!-- <label>{{pmMember.activity}}&nbsp;h</label>-->
                                <label>{{pmMember.activity ? pmMember.activity  : "0"}}&nbsp;h</label>
                            </td>
                            <td>
                                <a class="glyph-link"
                                   ng-show="addPm.pmSelection.$dirty"
                                   ng-click="getPmActivity(selectedPm.userName)">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
</section>
}