<section >
    <div class="row">
        <div class="col-sm-9 center">
            <input class='form-control' id="change-team-name" ng-model="editTeam.teamName">
            <table class="table table-striped">
                <colgroup>
                    <col width="5%" />
                    <col width="45%" />
                    <col width="45%" />
                    <col width="5%" />
                </colgroup>
                <thead id="change-team-head">
                    <tr>
                        <th>#</th>
                        <th>User Name</th>
                        <th>Full Name</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='member in editTeam.members | orderBy: member.UserName'>
                        <td> {{$index + 1}}</td>
                        <td> {{member.UserName}}</td>
                        <td> {{member.FullName}}</td>
                        <td> <a class="glyph-link" ng-click="removeMember(member.UserName)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <select class="form-control select-username"
                                    ng-model="selectedMember" ng-options="jiraUser.UserName for jiraUser in jiraUsers"
                                    name="memberSelection"></select>
                        </td>
                        <td>
                            <select class="form-control select-username"
                                    ng-model="selectedMember" ng-options="jiraUser.FullName for jiraUser in jiraUsers"
                                    name="memberSelection"></select>
                        </td>
                        <td><a class="glyph-link" ng-click="addMember(selectedMember)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a></td>
                    </tr>
                <tbody>
            </table>
            <div class="col-sm-6">
                <button id="btn-save" class="btn btn-flat" ng-click='save()'>Save</button>
            </div>
            <div class="col-sm-6">
                <button id="btn-cancel" class="btn btn-flat" ng-click='cancel()'>Cancel</button>
            </div>
        </div>
    </div>
</section>