.nav-container{
   background-color:#19287B;
}

.light-blue{
    color:#00BCD4;
}

.row{
    margin-top:40px;
}

.sidebar{
    background-color:rgba(91, 192, 222, 0.10);
    color:#00BCD4;
    margin-left:-80px;
    font-weight: bold;
}

li a{
    text-decoration: none;
    color:#00BCD4;
}
.sidebar li{
    margin: 10px;
    list-style-type: none;
}
.btn-flat {
    border: 1px solid #00BCD4;
    border-radius: 0px;
    background-color: #fff;
    color:#00BCD4;
    font-weight: bold;
    font-size: 14pt;
    margin-top: 10px;
}
#title div{
    margin: auto 0;
}
#manage-teams-head{
    background-color:#19287B;
    color: #fff;
}
th:nth-child(3){
    border-left: 1px solid #fff;
}
.glyphicon {
    color:#00BCD4;
}
.glyph-link:hover {
    text-decoration: none;
}
.glyph-link:active {
    text-decoration: none;
}
.glyph-link:visited {
    text-decoration: none;
}

#change-team-name{
    border-radius: 0px;
    border: 1px solid #00BCD4;
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 70px;
}

#btn-save{
    margin-right:10px;
    float:right;
    width:150px;
}
#btn-cancel{
    margin-left:10px;
    float:left;
    width:150px;
}

#change-team-head{
    color: #fff;
    background-color:#00BCD4;
}

.select-username, .select-fullname{
    border-radius: 0px;
    border: 1px solid #00BCD4;
    background-color: #fff;
}