<nav class="navbar navbar-default" style="background-color:#19287B" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><span style="color:#00BCD4">Reporting</span> <b>Tool</b></a>
		</div>
		<!-- ./navbar-header -->



	</div>
	<!-- /.container-fluid -->
</nav>